*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: auto;
    height: auto;
    background-image: url(./tesla2.jpg);
    background-position: center;
    background-size: cover;
    padding: 2px;
    background-attachment: fixed;
}
.navbarr{
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
.img1{
    /* border: 1px solid #000; */
    width:200px;
    height: auto;  
    padding: 5px 20px;
    cursor: pointer;
}
.models{
    /* border: 1px solid #000; */
    width: max-content;
    height: auto;
    padding: 10px 10px;
    display: flex;
    justify-content: space-evenly;
}
.namecar{
    height: auto;
    width: auto;
    /* border: 1px solid #000; */
    padding: 10px 15px;
}
.namecar:hover{
    background-color: #C9D3DD;
}
.lasttext{
    /* border: 1px solid #000; */
    height: auto;
    width: auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-evenly;
}
.text{
    /* border: 1px solid #000; */
    height: auto;
    width: auto;
    padding: 10px 15px;
}
.text:hover{
    background-color: #C9D3DD;
}
.model3{
    /* border: 1px solid #000; */
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 110px;
}
.three{
    /* border: 1px solid #000; */
    font-size: 50px;
}
.para{
     cursor: pointer;
     border-bottom: 1px solid;
     transition: all .5s;
}
.para:hover{
    border-bottom: 2px solid;
}
.button{
   /* border: 1px solid #000; */
   height: auto;
   width: auto; 
   margin-top: 300px;
   display: flex;
   justify-content: center;
   margin-bottom: 110px;
}
.one{
    background-color: #3A3D41;
    color: white;
}
.custum{
    width: 250px;
    height: auto;
    padding: 10px 15px;
    font-size: 18px;
    margin-left: 2%;
    border: none;
    cursor: pointer;
}
.pic2{
    background-image: url(./tesla3.jpg);
    width: auto;
    height: 100vh;
}
.pic3{
    background-image: url(./tesla4.jpg);
    height: 100vh;
    width: auto;
}
.pic4{
    background-image: url(./tesla5.jpg);
    height: 100vh;
    width: auto;
}
.piv5{
    background-image: url(./tesla6.jpg);
    height: 100vh;
    width: auto;
}
.piv6{
    background-image: url(./tesla8.jpg);
    height: 100vh;
    width: auto;
}

















@media screen and (max-width:1075px){
      .models{
        display: none;
      }
      .lasttext{
        display: none;
      }
}
@media screen and (max-width:590px){
    .button{
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        margin-top: 140px;
    }
    .custum{
        width: 100%;
        margin-top: 20px;
    }
}
      
